.element__trash {
  visibility: hidden;
  position: absolute;
  padding: 0;
  top: 18px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  max-width: 18px;
  width: 100%;
  height: 19.3px;
  box-sizing: border-box;
  background-image: url(../../../images/basket.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  transition: 1s;
  z-index: 1;
}

.element__trash:hover {
  opacity: 0.6;
}

.element_is-visible {
  visibility: visible;
}
