.profile__button {
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
  max-width: 150px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-image: url(../../../images/plus.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  transition: 0.5s;
}

@media (max-width: 584px) {
  .profile__button {
    max-width: 282px;
  }
}

.profile__button:hover {
  opacity: 0.6;
}
